h1 {
    background-color: lightcoral;
    color: white;
    font-size: 50px;
}

.food{
    font-size: 17px;
    color: lightslategray;
}

#fried_chicken {

}

#ice_cream_cake {

}

#brooklyn_pizza {

}